.grid {
    display: flex;
    flex-wrap: wrap;
    
    height: 300px;
    width: 400px;
}

.card {

}

.form-container {
    
}

#memory-game {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style: double;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

